<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">REPORTE</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
          <td>Turnos gestionados: </td>
          <td>{{reporte.turnAdviser}}</td>
      </tr>
      <tr>
          <td>Turnos Cat A: </td>
          <td>{{reporte.turnCatA}}</td>
      </tr>
      <tr>
          <td>Turnos Cat B: </td>
          <td>{{reporte.turnCatB}}</td>
      </tr>
      <tr>
          <td>Turnos Cat C: </td>
          <td>{{reporte.turnCatC}}</td>
      </tr>
      <tr>
          <td>Numero total de turnos: </td>
          <td>{{reporte.turns}}</td>
        </tr>
      <tr>
          <td>Promedio Cat A: </td>
          <td>{{reporte.averageTurnCatA}}</td>
      </tr>
      <tr>
          <td>Promedio Cat B: </td>
          <td>{{reporte.averageTurnCatB}}</td>
      </tr>
      <tr>
          <td>Promedio Cat C: </td>
          <td>{{reporte.averageTurnCatC}}</td>
      </tr>
      <tr>
          <td>Promedio total de turnos: </td>
          <td>{{reporte.averageTurn}}</td>
      </tr>
    </tbody>
  </table>


